@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply [--margin-x:1rem] [--main-sidebar-width:4.5rem] [--sidebar-panel-width:230px] [--sidebar-panel-min-width:64px];
		@apply md:[--margin-x:1.5rem] xl:[--margin-x:4rem];
		@apply lg:[--main-sidebar-width:5rem] lg:[--sidebar-panel-width:240px];
	}

	body {
		@apply bg-slate-50 font-sans leading-5 text-slate-500;
		font-size: 16px;
		@apply dark:bg-navy-900 dark:text-navy-200 dark:[color-scheme:dark];
	}
	.menu-toggle span {
		@apply h-[2px] w-5 translate-x-0 bg-current transition-all duration-[.25s] ease-in-out;
	}

	.menu-toggle span:nth-child(2) {
		@apply w-3;
	}
	.card {
		@apply relative flex  min-w-[1px] flex-col break-words rounded-lg  bg-white text-slate-500 shadow-soft dark:bg-navy-700 dark:text-navy-200 dark:shadow-none  print:border;
	}

	.form-select {
		@apply appearance-none tracking-wide outline-none placeholder:font-light focus:outline-none bg-center bg-no-repeat;
		contain: paint;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 20 20'%3e%3cpath stroke='%235C6B8A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
		background-position: right 0.5rem center;
		background-size: 1.5em 1.5em;
		print-color-adjust: exact;
	}

	.recurly-element {
		@apply m-0 h-10 rounded-md border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400;
	}

	.skeleton {
		@apply relative overflow-hidden [--sk-color:#ffffff80] dark:[--sk-color:#5C6B8A];
	}

	.skeleton.animate-wave:after {
		@apply absolute inset-0 content-[''];
		background: linear-gradient(90deg, transparent, var(--sk-color), transparent);
		animation: skeleton-wave 1.5s ease-in-out 0.5s infinite;
	}

	@keyframes skeleton-wave {
		0% {
			transform: translateX(-100%);
		}
		50%,
		100% {
			transform: translateX(100%);
		}
	}
}

@layer components {
	.btn {
		@apply inline-flex cursor-pointer items-center justify-center rounded-lg px-5 py-2
		text-center tracking-wide outline-none transition-all duration-200
		focus:outline-none disabled:pointer-events-none;
	}

	.avatar {
		@apply relative inline-flex h-10 w-10 shrink-0;
	}

	.avatar > img {
		@apply h-full w-full object-cover object-center;
	}

	.avatar > .is-initial {
		@apply flex h-full w-full items-center justify-center font-medium;
	}
}

@layer utilities {
	.outline-none {
		outline: none;
	}
}
